<!DOCTYPE html>
<html lang="{{ with $.Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}" class="no-js">
{{ partial "header" . }}
<body class="fly w-100 sans-serif">
    <header class="w-100 pa3 ph5-ns mid-gray bg-yellow">{{ block "header" . }}{{ end }}</header>
    {{ block "mainFull" . }}{{ end }}
    <main class="bg-white black-70 ph3 ph5-ns mt0-ns mb5-ns pt0-ns pb5">{{ block "main" . }}{{ end }}</main>
    <footer class="pv2 ph3 ph5-ns gray">{{ block "footer" . }}{{ end }}</footer>
  </body>
</html>
